@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background:url("icons/texture.png");
    margin:0;
    font-family: 'Roboto', sans-serif;
}

header{
    height:70px;
    width:80%;
    background-color:#111214;
    margin:0 auto;
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    min-width:748px;
    position: sticky;
    top:0;
}

.site-name{
    color:#ececec;
    font-size:35pt;
    
}

.burger-checkbox{
    display:none;
}

.header-nav{
    display:flex;
    flex-basis:350px;
    justify-content: space-around;
    flex-wrap:nowrap;
    align-self:flex-end;
}

.header-nav a {
    display:flex;
    height:48px;
    flex-basis:50px;
    background-color:gray;
    border-bottom:2px solid black;
    font-size:0;
}

.header-nav a:hover{
    border-bottom:2px solid #ececec;
}

main{
    margin:0 auto;
    margin-top:10px;
    width:75%;
    display:flex;
    justify-content: space-between;
    min-width:700px;
}

aside{
    flex-basis:210px;
    flex-shrink: 0;
    display:flex;
    flex-direction: column;
}

.sidebar-tasks{
    background-color:#111214;
    border:10px solid #111214;
    border-top-width:6px;
    border-radius:5px;
    margin-top:10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    
}

.sidebar-tasks:first-child{
    margin-top:0;
}

.sidebar-tasks summary{
    color:#ececec;
    font-size:15pt;
    margin:0 5px 4px 5px;
    outline:none;
    display: block;
}

details summary::-webkit-details-marker {
    display: none;
}

.my-tasks{
    background-color:#ececec;
    border-radius:5px;
}

.my-tasks a{
    color:#111214;
    text-decoration:none;
    display:block;
    font-size:14pt;
    margin: 5px 0 5px 5px;
}



.my-tasks a:hover{
    text-decoration: underline;
}

article{
    background-color: #111214;
    flex-basis:100%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius:5px;
    margin-left:10px;
    display:flex;
    flex-direction: column;
}

.tasks{
    color:#ececec;
    font-weight:400;
    margin-top:3px;
    margin-left:10px;
    margin-bottom:5px;
    font-size:15pt;  
}

section{
    background-color:#ececec;
    margin:0 10px;
    flex-basis: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer{
    height:70px;
    width:75%;
    background-color:#111214;
    margin:10px auto;
    border-radius:5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    min-width:748px;
    justify-content: center;
}

.copyright{
    color:#ececec;
}


@media (max-width: 768px) {

    header{
        min-width: 500px;
        margin:0 auto;
        width:96%;
    }
    main{
        flex-direction: column;
        min-width: 500px;
        margin:0 auto;
        width:96%;
    }
    aside{
        flex-direction: row;
        justify-content: space-around;
        margin-bottom:10px;
        flex-basis: auto;
        flex-wrap:wrap;
        align-items: center;
    }
    .sidebar-tasks{
        margin:0;
        margin-top:10px;
        flex-basis:200px;
    }
    .sidebar-tasks:first-child{
        margin-top:10px;
    }

    article{
        margin-left:0;
    }

    section{
        min-height:110px;
    }

    footer{
        margin:10px auto;
        width:96%;
        min-width: 500px;
    }
}

@media (max-width: 500px) {
    header{
        min-width: 200px;
        margin:0 auto;
        width:96%;
        position:relative;
        
    }

    .burger-button{
        display:block;
        width:50px;
        height:50px;
        background-color:white;
        margin-right:2%;
    }

    .burger-checkbox:checked ~ .header-nav{
        display: inline-block;
    }

    .burger-checkbox:checked ~ .burger-button{
        background-color: gray;
    }

    .header-nav{
        position:absolute;
        top:95%;
        display:none;
        width:100%;
        background-color: #111214;
        padding-bottom:10px;
        padding-top:10px;
        border-radius:0 0 5px 5px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    }

    .header-nav a{
        font-size:10pt;
        display:inline-block;
        width:100%;
        /* height:auto; */
        text-align:center;
        text-decoration: none;
    }

    main{
        flex-direction: column;
        min-width: 200px;
        margin:0 auto;
        width:96%;
    }

    aside{
        flex-direction: column;
        justify-content: space-around;
        margin-bottom:10px;
        flex-basis: auto;
        flex-wrap:nowrap;
        align-items: stretch;
    }

    .sidebar-tasks{
        margin:0;
        margin-top:10px;
        flex-basis:100%;
    }
    .sidebar-tasks:first-child{
        margin-top:10px;
    }
    .sidebar-tasks a{
        text-align: center;
    }

    footer{
        min-width: 200px;
        margin:5px auto;
        width:96%;
    }
}
